

<nav class="navbar navbar-expand-custom navbar-mainbg navbar navbar-dark">
  <a class="navbar-brand navbar-logo" href="#"><h1>MIPS Simulator</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/d/BMOUCJXMk/jvm-micrometer?orgId=1&refresh=30s&from=1620016799760&to=1620017099760" target="_blank"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Execute</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Results</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
          </li>
      </ul>
  </div>
</nav>

<div class="text-light"  style="align-items: center; background-color:black;">
  <table class="table">
<tr>
  <td style="width: 10%;">
  <div class="form-group" style="margin-left: 2%;">
    <h2>Choose Input Files</h2>
    <br/>
    <form >
    
        
      <div class="custom-file" style="width: 100%;">
        
        <label class="custom-file-label">Choose Data File..</label>
       <input type="file"  class="custom-file-input" required>
      </div>
    
    
    
      <br/>
      <br/>
      
      
        <div class="custom-file " style="width: 100%;">
          <label class="custom-file-label">Choose Instruction File..</label>
        <input type="file"  class="custom-file-input" required>
      </div>
    
      <br/>
      <br/>
      <div class="custom-file" style="width: 100%;">
        <label class="custom-file-label">Choose Configuration File..</label>
        <input type="file"  class="custom-file-input"required>
      </div>
      <br/>
      <br/>
      <div style="margin-left: 2%;">
      <button type="submit" class="btn btn-lg btn-primary" style="width: 100%;">EXECUTE</button>
    </div>
    
    </form>


  </div>
</td>
  <td style="width: 10%;">
  <div>
    <textarea  rows="20" style="color: white; width: 100%;background-color:transparent; font-size: 20px;">INSTRUCTIONS:</textarea>
  </div>
</td>
<td style="width: 10%;">
<div>
  <textarea  rows="20" style="color: white; width: 100%; background-color: transparent;font-size: 20px;">CONFIGURATION:</textarea>
</div>
</td>
<td style="width: 10%;">
  <div>
    <textarea  rows="20" style="color: white; width: 100%;background-color: transparent;font-size: 20px;">DATA:</textarea>
  </div>
  </td>
</tr>

</table>
<br/><br/><br/><br/><br/>

</div>

<div>

<footer >
  <div class="copyright">
    <p></p>
  </div>
  <div class="social">
    <a href="#" class="support">EXECUTE</a>
    <a href="#" class="face">STEP</a>
    <a href="#" class="tweet">RESET</a>
    <a href="https://www.linkedin.com/in/deviprasadmohapatra333/"  target="_blank"  class="linked"></a>
  </div>
</footer>
</div>




